:root {  
  --constrast: #FF67ED;
  
  --button-hover: #ff86f1;

  --day-background: #fffdf6;
  --day-highlight: #f3f4f5;
  --day-code-background: #f1f1f1;
  --day-text-primary: #333;
  --day-text-secondary: #666;

  --night-background: #101021;
  --night-highlight: #000;
  --night-code-background: #252525;
  --night-text-primary: #ECECEC;
  --night-text-secondary: #b9b9b9;
}