@font-face {
  font-family: "HKGrotesk-Regular";
  src: local('HKGrotesk-Regular'), url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: local('HKGrotesk-Bold'), url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --regular-font: HKGrotesk-Regular, sans-serif;
  --bold-font: HKGrotesk-Bold, sans-serif;
}